doctype 5
html
	head
		meta(charset='UTF-8')
		title #{config.title} | Backend System
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/AdminLTE.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		//if lt IE 9
			script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')

	body.skin-blue

		input#apiUrl(type='hidden', value=config.apiUrl)
		input#authKey(type='hidden', value=config.authKey)
		input#rolesMessage(type="hidden", value='{"administrator":"#{__('role-administrator')}", "dealer":"#{__('role-dealer')}", "developer":"#{__('role-developer')}", "guest":"#{__('role-guest')}", "headSale":"#{__('role-headSale')}", "manager":"#{__('role-manager')}", "member":"#{__('role-member')}", "officer":"#{__('role-officer')}", "sale":"#{__('role-sale')}"}')

		header.header
			a.logo(href='/') AdminLTE
			nav.navbar.navbar-static-top(role="navigation")
				a.navbar-btn.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				div.navbar-right
					ul.nav.navbar-nav
						li.dropdown.messages-menu.hidden-xs
							a.dropdown-toggle(href="#", data-toggle="dropdown")
								i.fa.fa-envelope
								span.label.label-success 4
						li.dropdown.notifications-menu.hidden-xs
							a.dropdown-toggle(href="#", data-toggle="dropdown")
								i.fa.fa-warning
								span.label.label-warning 10
						li.dropdown.tasks-menu.hidden-xs
							a.dropdown-toggle(href="#", data-toggle="dropdown")
								i.fa.fa-tasks
								span.label.label-danger 9
							ul.dropdown-menu
								li.header You have 9 tasks
								li
									ul.menu
										li
											a(href="#")
												h3 Design some buttons
													small.pull-right 20%
												div.progress.xs
													div.progress-bar.progress-bar-aqua(style="width: 20%", role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100")
														span.sr-only 20% Complete
								li.footer
									a(href="#") View all tasks
									
						li.dropdown.hidden-xs
							a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") #{__('language')} 
								span.caret
							ul.dropdown-menu(role="menu")
								li
									a(href="#{config.language == 'th' ? 'javascript:void(0)' : '/language/th'}") #{__('languageThai')}
								li
									a(href="#{config.language == 'en' ? 'javascript:void(0)' : '/language/en'}") #{__('languageEnglish')}

						li.dropdown.user.user-menu
							a.dropdown-toggle(href="#", data-toggle="dropdown")
								i.glyphicon.glyphicon-user
								span #{info.name}
									i.caret
							ul.dropdown-menu
								li.user-header.bg-light-blue
									img.img-circle(src="/images/AdminLTE/avatar5.png", alt="User Image")
									if info.firstname
										p #{info.firstname} #{info.lastname}
									else
										p #{info.name}
									small#memberRole #{__('role-'+info.memberType)}
								li.user-footer
									div.pull-left
										if config.screen == 'member-profile'
											a.btn.btn-default.btn-flat(href="javascript:void(0)", disabled) #{__('profile')}
										else
											a.btn.btn-default.btn-flat(href="/member/profile") #{__('profile')}
									div.pull-right
										a.btn.btn-default.btn-flat(href="/logout") #{__('logout')}

		div.wrapper.row-offcanvas.row-offcanvas-left
			aside.left-side.sidebar-offcanvas
				section.sidebar
					div.user-panel
						div.pull-left.image
							img.img-circle(src="/images/AdminLTE/avatar5.png", alt="User Image")
						div.pull-left.info
							p #{__('hello %s')}#{info.name}
							a(href="/member/profile") 
								i.fa.fa-user.text-success
								&nbsp; #{__('role-'+info.memberType)}
					form.sidebar-form(action="#", method="get")
						div.input-group
							input.form-control(type="text", name="q", placeholder="#{__('search')}...")
							span.input-group-btn
								button#search-btn.btn.btn-flat(type='submit', name='seach')
									i.fa.fa-search
					ul.sidebar-menu
						for menu, key in config.menu
							li(class="#{config.screen == key ? 'active' : ''} #{menu.hasChild ? 'treeview' : ''}")
								a(href="#{menu.link}")
									i(class="fa fa-#{menu.icon}") 
									span &nbsp; #{__('screen-'+key+'-header')}
									if menu.hasChild
										i.fa.fa-angle-left.pull-right
								if menu.hasChild
									ul.treeview-menu
										for subMenu, subKey in menu.child
											li
												a(href="#{subMenu}")
													i.fa.fa-angle-double-right 
													&nbsp; #{__('screen-'+subKey+'-header')}

			aside.right-side
				section.content-header
					h1
						&nbsp;#{config.title}
						small #{config.titleDesc}

					if config.screen != 'index'
						ol.breadcrumb
							li
								a(href="/")
									i.fa.fa-dashboard
									&nbsp;#{__('home')}
							li.active &nbsp;#{config.title}

				section.content

					block content
		

		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
		script(src='/javascripts/AdminLTE/app.js')
		script(src='/javascripts/app.js')
		- if (locals.script)
			script(src=script)